.add-documents{
    display: block;
    align-items: center;
    width: 58px;
    height: 52px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 82px;
    padding: 0 ;
    background-image: url('../../images/Component.png');
    background-position: 50% 50%;
    border: transparent;
    
}


