.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 543px) {
        max-width: 543px
    }

    @media screen and (min-width: 1293px) {
        max-width: 898px;
        margin-left: 0;
    }

}