 .page-container{
   margin-left: auto;
   margin-right: auto;

   @media screen and(min-width: $desktop) {
         margin-left: 397px;
         margin-top: 39px;
      }
 }
 
 .dekstop-nav{
    @media screen and(max-width: 1439px){
    display: none;
 }
}

.data{
   display:block;
   border-radius: 15px;
   width: 50px;
   height: 50px;
   background: #d5635f;
   color: $accent-color;
   font-weight: 700;
   font-size: 25px;
   text-align: center;
   margin-right: 14px;
   padding-top: 6px;

   &:hover,
      :focus {
         border-bottom: 1px solid #5CA1B7;
      }
}

.owner{
   font-weight: 700;
   font-size: 16px;
   color: #000;
   line-height: normal;

   &:hover,
      :focus {
         border-bottom: 1px solid #5CA1B7;
      }
}

.navigation{
   border-radius: 30px;
   // width: 682px;
   height: 77px;
   margin-right: 37px;
   background: #f7f7f9;

   &:hover,
      :focus {
         border: 1px solid #5CA1B7;
      }
}

.site-list{
   display: flex;
   list-style: none;
   padding-left: 73px;
   padding-right: 46px;
   
}

.site-item{
   &:not(:last-child) {
         margin-right: 30px;
      }
}

.link-nav{
text-decoration: none;
font-weight: 600;
font-size: 16px;
text-align: center;
color: #838383;

&:hover,
   :focus {
      border-bottom: 1px solid #5CA1B7;
   }
}

.user-editing{
   display: flex;
   flex-wrap: wrap;
}

.user-editing__item{
   width: 25px;
   height: 25px;
   background-color:aqua;
   list-style: none;

   &:not(:last-child) {
         margin-right: 18px;
      }

             &:hover,
             :focus {
                border: 1px solid #5CA1B7;
             }
}