.form-container{
    margin-left: 73px;
    margin-right: 75px;
    padding-bottom: 58px;
    padding-left: 42px;
    padding-right: 75px;
    border-radius: 30px;
    width: 543px;
    background: #f7f7f9;


    &:hover,
    :focus {
        border: 1px solid #5CA1B7;
    }

        @media screen and(min-width: $desktop) {
            display: flex;
            flex-wrap: wrap;
            width: 898px;
        }
}