.passport-data__title{
    margin-bottom: 24px;
}

.passportData-form{
    padding-top: 62px;

    @media screen and(min-width: $desktop) {
            display: flex;
            padding-top: 47px;
        }

}

.input-dekstop {
    @media screen and(min-width: $desktop) {

    }
}

.residence-box{
        @media screen and(min-width: $desktop) {
                display: flex;
               
            }
}

.residence{
    @media screen and(min-width: $desktop) {
            margin-right: 142px;
        }
}


.passport-input{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.7);
    color: #5ca1b7;
}

.btn-communication{
    border-radius: 13px;
    border-color: transparent;
    width: 387px;
    height: 52px;
    margin-left: 26px;
    
    background: #d5635f;
    font-weight: 700;
     font-size: 25px;
    text-align: center;
    color: $accent-color;

    &:hover,
        :focus {
            border: 1px solid #5CA1B7;
        }
}

