.residence-title{
    font-weight: 600;
    font-size: 25px;
    color: #414141;

    &:hover,
        :focus {
            border-bottom: $border;
        }

                 @media screen and(min-width: $desktop) {
                    margin-top: 0;
                 }
}