.section-title{
    font-weight: 600;
    font-size: 45px;
    color: #414141;
    margin-top: 0px;
    margin-left: 63px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 11px;
        margin-left:50px;
    }

        &:hover,
        :focus {
            border-bottom: $border;
        }
}