.vertical-menu{
    position: absolute;
    top: 9px;
    left: 44px;
    background: #69a7ba;
    border-radius: 31px;
    width: 319px;
    padding-top: 68px;
    padding-left: 63px;
    padding-bottom: 860px;

    &:hover,
        :focus {
            border: 1px solid #5CA1B7;
        }

    @media screen and(max-width: 1439px) {
            display: none;
        }
}

.logo-box{
    margin-bottom: 125px;

    &:hover,
        :focus {
            border: $border;
        }
}

.menu-list{
    
    list-style: none;
    padding: 0;
}

.contacts-nav{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: $accent-color;
    
   

    &:hover,
        :focus {
            border-bottom: $border;
        }
}

.menu-item{
    display: flex;
    height: 51px;
    align-items: center;

    &:not(:last-child) {
            margin-bottom: 4px;
        }

   
}

.receive-payments__box{
    border-radius: 31px;
}

.receive-payments{
    width: 210px;
    height: 248px;

    &:hover,
        :focus {
            border: $border;
        }

    //  &:active{
    //         color: #d5635f;;
    //  }   
}

.receive-payments__img{
    border-radius: 31px;
}

.vertical-menu__icon{
    &:hover,
        :focus {
            border: $border;
        }
}

.box-img__menu{
    display: block;
    margin-right: 10px;
    
    &:active {
            font-weight: 500;
            font-size: 20px;
            color: #d5635f;
            border-radius: 60px;
            width: 317px;
            height: 58px;
            background: #fff;
        }
}